{{> message}}
<div class="row mt-3 justify-content-center">
  <div class="col-md-8 d-flex justify-content-center">
    <form action="/" method="get" class="row">
      <div class="col-auto">
        <select class="form-control" name="category" aria-label="select category" id="category" onchange="submit();">
          <option value="">所有分類</option>
          {{#each categories}}
          <option value="{{this.name}}" {{#isEqual ../categoryValue this.name }}selected{{/isEqual}}>{{this.title}}
          </option>
          {{/each}}
        </select>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" name="year" placeholder="西元年 ex. 1996" aria-label="select category"
          onblur="submit()" value="{{ year }}">
      </div>
      <div class="col-auto">
        <select class="form-control" name="month" aria-label="select month" onchange="submit();">
          <option value="all">所有月份</option>
          {{#each monthList}}
          <option value="{{this.value}}" {{#isEqual ../monthValue this.value}}selected{{/isEqual}}>{{this.name}}
          </option>
          {{/each}}
        </select>
      </div>
    </form>
  </div>
</div>

<div class="row mt-3 justify-content-center">
  <div class="col-md-5 d-flex align-items-center">
    <div class="total-amount-title">總金額：</div>
    <div class="total-amount ml-3">{{ totalAmount }}</div>
  </div>
</div>


<div class="row flex-md-nowrap record justify-content-center">
  <div class="col-9 border-bottom border-major">
    {{#each records}}
    <div class="row pb-3">
      <div class="col-md-1 d-flex align-items-center justify-content-center icon">
        <i class="{{ this.iconName }} fa-2x"></i>
      </div>
      <div class="col-md-3 py-2 flex-column-center">
        <div class="name mb-1">{{ this.name }}</div>
        <div class="date">{{ this.date }}</div>
      </div>
      <div class="col-md-4 flex-column-right flex-column-center">
        <div class="amount mb-1">{{ this.amount }}</div>
        <div class="marchant">{{ this.merchant }}</div>
      </div>
      <div class="col-md-4 d-flex justify-content-end align-items-center button-box">
        <form action="/records/{{ this._id }}/edit" method="get">
          <button class="btn btn-outline-primary btn-sm" type="submit">修改</button>
        </form>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
          <button class="btn btn-danger btn-sm ml-2" type="submit" onclick="return confirmDelete();">刪除</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-md-6 mt-4">
    <a href="/records/new" class="btn btn-block btn-major">新增支出</a>
  </div>
</div>

<script>
  function confirmDelete() {
    return confirm('你確定要刪除該筆紀錄嗎?')
  }
</script>